*{
    margin: 0;
}

.main-sec{

    background-color: #fff4e7;
}
.header-section, .grid-class, .gf-class, .fact, .sponsor, .fcontainer, .foot-class{

    margin-left: 150px;
    margin-right: 150px;
}

.navbar{

    display: flex;
}

.header-text{

    width: 50%;

}

.menu{

    display: flex;
    width: 50%;
    justify-content: end;
    gap: 40px;
}

.menu a{

    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* brand new class */

.brand-class {

    text-align: center;
}

.brand-class h1,p{

    padding: 5px;
}

.brand-class p{

    font-size: 13px;
    color: grey;
}

.grid-second-div p{

    font-size: 13px;
    color: grey;
}

.explore-btn, .second-button{

    padding: 14px 18px;
    border-radius: 5px;
    border-style: none;
    background-color: #ff900e;
    color: white;
    margin-bottom: 30px;
}

#banner-img{

    display: block;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.grid-class{

    margin-top: 80px;
    display: flex;
}

.grid-img{

    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-img img{

    max-height: 100%;
    max-width: 100%;
}

.grid-header{

    margin-bottom: 0;
}

.grid-second-div{

    max-width: 50%;
    padding-left: 50px;
    /* these 3 lines for put items vertically center */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: justify;
}


/* girlfriend section */

.gf-class{

    display: flex;
    padding-top: 100px;
}
.gf-class-2{

    max-width: 40%;
}

/* .gf-class-2 > div{

    padding: 5px;
} */

.gf-class-3{
    max-width: 60%;
}

.gf-class-3 > img{

    width: 90%;
    height: 75%;
    margin-left: 100px;
    margin-right: 100px;
}

.gf-class-special{

    width: 100%;
    height: 70px;
    font-size: larger;
    border-left: 5px #ff900e solid;
    border-width: 5px;
    padding-left: 10px;    
}

.gf-class span{

    color: black;
    font-weight: bold;
}

.gf-class p{

    font-size: 13px;
    color: grey;
}


.gf-class-same{

    width: 100%;
    height: fit-content;
    box-shadow: 0px 5px 10px 7px whitesmoke;
    border-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
}

.gf-class-same > p{

    margin-top: 0px;
}

#gf-button{

    position: absolute;
    margin-left: 50px;
    margin-top: -70px;
    border-radius: 5px;
    border-style: none;
    background-color: #ff900e;
    color: white;
    padding: 30px;
    font-size: 15px;
}

#gf-button span{

    font-size: 40px;
    color: white;
}

/* Some fact class */

.fact-inner{

    display: flex;
    justify-content: space-between;

}

.fact-inner div{

    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #ff900e;
    border-radius: 10px;
    border-width: 1px;
}

.fact-inner, .sponsor-inner{

    text-align: center;
    margin: 70px 0px 10px 50px;
}

.fact-inner img{
    margin-top: 40px;
}

.fact p{

    font-size: 13px;
    color: grey;
}

/* Sponsor */

.sponsor{

    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sponsor-inner{

    display: flex;
    justify-content: space-between;
    
}

.sponsor-inner img{

    width: 70%;
    height: 100%;
    filter: grayscale(100%);
}

/* extra section */

.fcontainer{

    display: flex;
    justify-content: center;
}

/* footer */

.foot-class{

    margin-top: 100px;
    margin-bottom: 100px;
}

.foot-class p{

    padding: 25px;
    font-size: 15px;
    color: gray;
    text-align: center;
    background-color: #fff4e7;
    border-radius: 8px;
}


